In [1]:
import pandas as pd
import os
import pyarrow.parquet as pq

import dask.dataframe as dd
from dask import delayed
from fastparquet import ParquetFile
import glob

In [2]:
os.getcwd()

'c:\\Users\\milan\\OneDrive - MUNI\\VŠ\\PhD\\Zahraniční stáž\\Work\\HeiGIT_notebooks\\analysis\\ai-assisted-osm-mapping-stats\\ohsome-contributions'

In [12]:

pd.read_parquet(
    "contribs-40abae66-9607-4276-8d89-ab3f9ca96f91.parquet", engine='auto')

,contrib_id,osm_id,changeset_id,changeset_timestamp,hashtags,user_id,tree,building_area,building_area_delta,road_length,road_length_delta,contrib_type,country_iso_a3
0,b'\x00\x00\x00\x00\x00\x01G\x8a\x87\x00\x00\x0...,21465735,130927700,1672961851000,[],402585,NaN,NaN,NaN,NaN,NaN,b'GEOMETRY',[FRA]
1,b'\x00\x00\x00\x00\x00\x0fDL\xf9\x00\x00\x00\x...,256134393,131476976,1674150456000,[],311391,NaN,NaN,NaN,NaN,NaN,b'GEOMETRY',[FRA]
2,b'\x00\x00\x00\x00\x00\x11\xf4h\xe2\x00\x00\x0...,301230306,130961390,1673036484000,[],1072008,NaN,NaN,NaN,NaN,NaN,b'GEOMETRY',[FRA]
3,b'\x00\x00\x00\x00\x00\x0fDhd\x00\x00\x00\x00c...,256141412,131476976,1674150456000,[],311391,NaN,NaN,NaN,NaN,NaN,b'DELETED',[]
4,b'\x00\x00\x00\x00\x00\x0fDhe\x00\x00\x00\x00c...,256141413,131476976,1674150456000,[],311391,NaN,NaN,NaN,NaN,NaN,b'DELETED',[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122751,b'\x00\x00\x00\x00\x02x\x89p\xd1\x00\x00\x00\x...,10612207825,132169772,1675707802000,[],607648,NaN,NaN,NaN,NaN,NaN,b'CREATED',[GBR]
2122752,b'\x00\x00\x00\x00\x02x\xcb\xe2\xb5\x00\x00\x0...,10616562357,132223383,1675800566000,[],6397757,NaN,NaN,NaN,NaN,NaN,b'CREATED',[GBR]
2122753,b'\x00\x00\x00\x00\x02x\xcb\xe2\xb8\x00\x00\x0...,10616562360,132223383,1675800566000,[],6397757,NaN,NaN,NaN,NaN,NaN,b'CREATED',[GBR]
2122754,b'\x00\x00\x00\x00\x02x\xcd\x03\xd5\x00\x00\x0...,10616636373,132224616,1675802342000,[],54831,NaN,NaN,NaN,NaN,NaN,b'CREATED',[GBR]
2122755,b'\x00\x00\x00\x00\x02x\xcd\xcf5\x00\x00\x00\x...,10616688437,132225250,1675803189000,[],54831,NaN,NaN,NaN,NaN,NaN,b'CREATED',[GBR]

In [8]:
files = glob.glob('parquet-data/year=2023/*.parquet')
files

[]

In [10]:
files = glob.glob('parquet-data/year=2023/*.parquet')


@delayed
def load_chunk(path):
    return ParquetFile(path).to_pandas()


df = dd.from_delayed([load_chunk(f) for f in files])

df = df.compute()

In [13]:
df.columns

Index(['contrib_id', 'osm_id', 'changeset_id', 'changeset_timestamp',
       'hashtags', 'user_id', 'tree', 'building_area', 'building_area_delta',
       'road_length', 'road_length_delta', 'contrib_type', 'country_iso_a3'],
      dtype='object')

In [15]:
any(df.road_length.notna())

True

In [16]:
df.dropna(axis=1)

,contrib_id,osm_id,changeset_id,changeset_timestamp,user_id,contrib_type
0,b'\x00\x00\x00\x00\x00\x01G\x8a\x87\x00\x00\x0...,21465735,130927700,1672961851000,402585,b'GEOMETRY'
1,b'\x00\x00\x00\x00\x00\x0fDL\xf9\x00\x00\x00\x...,256134393,131476976,1674150456000,311391,b'GEOMETRY'
2,b'\x00\x00\x00\x00\x00\x11\xf4h\xe2\x00\x00\x0...,301230306,130961390,1673036484000,1072008,b'GEOMETRY'
3,b'\x00\x00\x00\x00\x00\x0fDhd\x00\x00\x00\x00c...,256141412,131476976,1674150456000,311391,b'DELETED'
4,b'\x00\x00\x00\x00\x00\x0fDhe\x00\x00\x00\x00c...,256141413,131476976,1674150456000,311391,b'DELETED'
...,...,...,...,...,...,...
1755340,b'\x00\x00\x00\x00\x02x\xea9\xc6\x00\x00\x00\x...,10618550726,132251658,1675856785000,598483,b'CREATED'
1755341,b'\x00\x00\x00\x00\x02x\xea9\xc7\x00\x00\x00\x...,10618550727,132251658,1675856785000,598483,b'CREATED'
1755342,b'\x00\x00\x00\x00\x02x\xea9\xc8\x00\x00\x00\x...,10618550728,132251658,1675856785000,598483,b'CREATED'
1755343,b'\x00\x00\x00\x00\x02x\xea9\xc9\x00\x00\x00\x...,10618550729,132251658,1675856785000,598483,b'CREATED'
1755344,b'\x00\x00\x00\x00\x02x\xea9\xd2\x00\x00\x00\x...,10618550738,132251658,1675856785000,598483,b'CREATED'

In [17]:
df

,contrib_id,osm_id,changeset_id,changeset_timestamp,hashtags,user_id,tree,building_area,building_area_delta,road_length,road_length_delta,contrib_type,country_iso_a3
0,b'\x00\x00\x00\x00\x00\x01G\x8a\x87\x00\x00\x0...,21465735,130927700,1672961851000,None,402585,<NA>,NaN,NaN,NaN,NaN,b'GEOMETRY',None
1,b'\x00\x00\x00\x00\x00\x0fDL\xf9\x00\x00\x00\x...,256134393,131476976,1674150456000,None,311391,<NA>,NaN,NaN,NaN,NaN,b'GEOMETRY',None
2,b'\x00\x00\x00\x00\x00\x11\xf4h\xe2\x00\x00\x0...,301230306,130961390,1673036484000,None,1072008,<NA>,NaN,NaN,NaN,NaN,b'GEOMETRY',None
3,b'\x00\x00\x00\x00\x00\x0fDhd\x00\x00\x00\x00c...,256141412,131476976,1674150456000,None,311391,<NA>,NaN,NaN,NaN,NaN,b'DELETED',None
4,b'\x00\x00\x00\x00\x00\x0fDhe\x00\x00\x00\x00c...,256141413,131476976,1674150456000,None,311391,<NA>,NaN,NaN,NaN,NaN,b'DELETED',None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755340,b'\x00\x00\x00\x00\x02x\xea9\xc6\x00\x00\x00\x...,10618550726,132251658,1675856785000,None,598483,<NA>,NaN,NaN,NaN,NaN,b'CREATED',None
1755341,b'\x00\x00\x00\x00\x02x\xea9\xc7\x00\x00\x00\x...,10618550727,132251658,1675856785000,None,598483,<NA>,NaN,NaN,NaN,NaN,b'CREATED',None
1755342,b'\x00\x00\x00\x00\x02x\xea9\xc8\x00\x00\x00\x...,10618550728,132251658,1675856785000,None,598483,<NA>,NaN,NaN,NaN,NaN,b'CREATED',None
1755343,b'\x00\x00\x00\x00\x02x\xea9\xc9\x00\x00\x00\x...,10618550729,132251658,1675856785000,None,598483,<NA>,NaN,NaN,NaN,NaN,b'CREATED',None
1755344,b'\x00\x00\x00\x00\x02x\xea9\xd2\x00\x00\x00\x...,10618550738,132251658,1675856785000,None,598483,<NA>,NaN,NaN,NaN,NaN,b'CREATED',None